<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<h:head>
		<h:outputStylesheet library="css" name="styles.css" />
		<title><ui:insert name="title">Default title</ui:insert></title>
	</h:head>

	<h:body>
		<div id="centerContent">
			<ui:insert name="statusDialog">
				<p:ajaxStatus onstart="statusDialog.show();"
					onsuccess="statusDialog.hide();" />

				<p:dialog modal="true" widgetVar="statusDialog"
					header="#{msg.processing_header}" draggable="false"
					closable="false" resizable="false">
					<h:panelGrid columns="1" cellpadding="5" styleClass="centered">
						<h:graphicImage library="images" name="ajax-loader.gif" />
					</h:panelGrid>
				</p:dialog>
			</ui:insert>

			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>

			<div id="content">
				<p:spacer styleClass="spacerDefaultHeight" />
				<ui:insert name="content" />
			</div>

			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>
