<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<p:spacer height="50px" />

	<h:form prependId="false">
		<p:toolbar>
			<p:toolbarGroup align="left">
			</p:toolbarGroup>
			<p:toolbarGroup align="right">
				<p:commandButton value="Clear Scores" id="clearScores" onclick="cd.show()">
				</p:commandButton>

				<p:confirmDialog message="Are you sure you want to clear all scores?" header="Clear Scores" severity="alert" widgetVar="cd">
					<p:commandButton value="Yes" actionListener="#{scoreService.clearScores}" update=":dataTable" oncomplete="cd.hide()" />
					<p:commandButton value="No" onclick="cd.hide();" type="button" />
				</p:confirmDialog>
			</p:toolbarGroup>
		</p:toolbar>
	</h:form>
</ui:composition>