@CHARSET "UTF-8";

.ui-widget {
	font-size: 12px;
}

.movieDetailPosterColumn {
	vertical-align: top;
	text-align: center;
	width: 375px;
}

.movieDetailColumn {
	vertical-align: top;
	text-align: center;
}

.mandatoryMark {
	color: #FFFFFF;
	font-style: italic;
	font-size: x-small;
	font-weight: bold;
}

.ratingSmall {
	font-style: italic;
	font-size: x-small;
	font-weight: bold;
}

.fieldAnnotation {
	font-style: italic;
	font-size: x-small;
	font-weight: lighter;
}

.en_flag {
	background: url(images/en.png) no-repeat;
	height: 24px;
	width: 24px;
	padding: 2px;
}

.es_flag {
	background: url(images/es.png) no-repeat;
	height: 24px;
	width: 24px;
	padding: 2px;
}

.fr_flag {
	background: url(images/fr.png) no-repeat;
	height: 24px;
	width: 24px;
	padding: 2px;
}

body {
	background: url(images/page_bg.gif);
	text-align: center;
}

#centerContent {
	width: 1000px;
	margin: auto;
	text-align: center;
}

#header img {
	display: block;
}

.spacerDefaultHeight {
	height: 3px;
}

.centered {
	margin: 0px auto;
}

.tagline {
	font-family: Engravers MT;
	font-weight: bold;
	font-style: italic;
	color: #666;
	text-align: center;
}

.actorItem {
	width: 200px;
	height: 140px;
	text-align: center;
}

.orderItem {
	width: 200px;
	height: 140px;
	text-align: center;
}

.roundLogo {
	border: 2px solid #666;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 1000px;
	height: 100px;
	background: url(images/movie_banner_stretch.png) no-repeat;
}

input[type="button"],input[type="submit"],input[type="reset"] {
	moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-family: 'Segoe UI', Arial, sans-serif;
	border: 1px solid #666;
	background: #555
		url("/FOUOMS/spring/javax.faces.resource/images/ui-bg_glass_20_555555_1x400.png?ln=primefaces-ui-darkness")
		50% 50% repeat-x;
	font-weight: bold;
	color: #EEE;
	font-size: 12px;
	padding: .4em 1em;
	cursor: pointer;
	text-align: center;
}

input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover
	{
	border: 1px solid #59B4D4;
	background: #0078A3
		url("/FOUOMS/spring/javax.faces.resource/images/ui-bg_glass_40_0078a3_1x400.png?ln=primefaces-ui-darkness")
		50% 50% repeat-x;
	font-weight: bold;
	color: white;
}

input[type="button"]:ACTIVE,input[type="submit"]:ACTIVE,input[type="reset"]:ACTIVE
	{
	border: 1px solid #FFAF0F;
	background: #F58400
		url("/FOUOMS/spring/javax.faces.resource/images/ui-bg_inset-soft_30_f58400_1x100.png?ln=primefaces-ui-darkness")
		50% 50% repeat-x;
	font-weight: bold;
	color: white;
}

.priceTag {
	moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-family: 'Segoe UI', Arial, sans-serif;
	border: 1px solid #FFAF0F;
	background: #F58400
		url("/FOUOMS/spring/javax.faces.resource/images/ui-bg_inset-soft_30_f58400_1x100.png?ln=primefaces-ui-darkness")
		50% 50% repeat-x;
	font-weight: bold;
	color: white;
	font-size: 12px;
	padding: .4em 1em;
	text-align: center;
}

.movieCertification {
	moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-family: 'Segoe UI', Arial, sans-serif;
	border: 1px solid #59B4D4;
	background: #0078A3
		url("/FOUOMS/spring/javax.faces.resource/images/ui-bg_glass_40_0078a3_1x400.png?ln=primefaces-ui-darkness")
		50% 50% repeat-x;
	font-weight: bold;
	color: white;
	font-size: 12px;
	padding: .4em 1em;
	text-align: center;
}

.roundedFlag {
	moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #FFAF0F;
}



