<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/templates/base.xhtml">

	<ui:define name="title">
		<h:outputText value="Meet the Mobile Team" />
	</ui:define>

	<ui:define name="content">
		<p:spacer height="50px" />
		<h:panelGrid columns="1" styleClass="centered" id="pnlMobileTeam">
			<p:panel header="Meet the Mobile Team" style="width:500px;" id="pnlLeaderboard">
				<p:dataTable id="dataTable" var="score" value="#{scoreService.scores}">

					<f:facet name="header">Leaderboard</f:facet>

					<p:column headerText="Name">
						<h:outputText value="#{score.name}" />
					</p:column>

					<p:column headerText="Seconds" style="text-align: right">
						<h:outputText value="#{score.seconds}" />
					</p:column>
					<p:column headerText="Posted On" style="text-align: right">
						<h:outputText value="#{score.postTime}">
							<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
						</h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:panelGrid>
	</ui:define>
</ui:composition>